.main-container {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-contacts {
    margin: 40px;
    font-size: 3rem;
    color: goldenrod;
}

.contact-container {
    width: 70%;
}

.contact-box {
    background-color: antiquewhite;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.contact-name {
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Alkatra', cursive;
    margin-bottom: 3px;
}

.contact-phone {
    font-size: 1.5rem;
    padding-left: 10px;
}

.contact-icons {
    padding-top: 10px;
    padding-inline: 30px;
    display: flex;
    gap: 50px;
}

.contact-icon {
    font-size: 2rem;
    cursor: pointer;
}

/* create contact button */
.create-component {
    width: fit-content;
    padding: 20px;
    background-color: rgba(246, 145, 13, 0.882);
    border: none;
    border-radius: 25%;
    position: fixed;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
}

.plus-icon {
    font-size: 2rem;
    padding: 5px;
}